[submodule "tools/paideia-as"]
	path = tools/paideia-as
	url = https://github.com/paideia-os/paideia-as.git
[submodule "tools/user/libpdx-volume"]
	path = tools/user/libpdx-volume
	url = https://github.com/paideia-os/libpdx-volume.git
[submodule "tools/user/mkfs.pdxfs"]
	path = tools/user/mkfs.pdxfs
	url = https://github.com/paideia-os/mkfs.pdxfs.git
[submodule "tools/user/mount.pdxfs"]
	path = tools/user/mount.pdxfs
	url = https://github.com/paideia-os/mount.pdxfs.git
[submodule "tools/user/umount.pdxfs"]
	path = tools/user/umount.pdxfs
	url = https://github.com/paideia-os/umount.pdxfs.git
[submodule "tools/user/libpdx-audit"]
	path = tools/user/libpdx-audit
	url = https://github.com/paideia-os/libpdx-audit.git
[submodule "tools/user/libpdx-elevate"]
	path = tools/user/libpdx-elevate
	url = https://github.com/paideia-os/libpdx-elevate.git
